body {
  padding: 0;
}

/* Custom page header */
header {
  margin-bottom: 10px;
}

footer {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;

  background-color: #f8f8f8;

  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #e7e7e7;
}

footer p {
    margin: 0;
}

.footer-links {
  padding-left: 0;
}

.footer-links li {
    display: inline-block;
    margin-left: 0;
    margin-right: 15px;
    color: #333;
}

.schedule-id {
  margin: 3px;
  background-color: #e7e7e7;
  padding: .2em .3em;
  transition: background-color 0.25s;
}

.id-editor .schedule-id:hover {
  background-color: #dbdbdb;
}

.id-remove:hover {
  cursor: pointer;
}

.schedule-image-row img {
  padding: 10px;
}

.id-input {
  border: 0;
  padding: 0;
  outline: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.id-editor {
  overflow: hidden;
  white-space: nowrap;
}

.bootstrap-datetimepicker-widget tr:hover {
    background-color: #EEEEEE;
}
