body {
  padding: 0;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
}

.schedule-id {
  /*margin: -3px 3px 0 3px;*/
  margin: 3px;
  background-color: #e7e7e7;
  padding: .4em .5em;
  transition: background-color 0.25s;
}

.id-editor .schedule-id:hover {
  background-color: #dbdbdb;
}

.id-remove:hover {
  cursor: pointer;
}

.schedule-image-row img {
  padding: 10px;
}

.id-input {
  border: 0;
  padding: 0;
  margin: 3px;
  display: inline-block;
  width: 100%;
}

.id-editor {
  border: 1px solid #e5e5e5;
  overflow: hidden;
  white-space: nowrap;
}
