body {
  padding: 0;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 10px;
}

.schedule-id {
  margin: -3px 3px 0 3px;
  background-color: #e7e7e7;
  padding: .4em .5em;
}

.id-remove:hover {
  cursor: pointer;
}

.schedule-image-row img {
  padding: 10px;
}

.id-input: {
  display: inline-block;
  min-width: 12ch;
}
