<div class="row">
  <div class="form-group col-md-6">
    <label>Schemanamn</label>
    <id-editor></id-editor>
  </div>

  <div class="form-group col-md-6" ng-controller="WeekCtrl as weekCtrl">
    <label>Vecka</label>
    <div class="input-group">
      <input class="form-control" type="text" id="week-picker" ng-model="week">
      <span class="input-group-addon">{{weekCtrl.asRangeString()}}</span>
    </div>
  </div>
</div>

<div class="row schedule-image-row" ng-controller="ScheduleCtrl as schedule">
  <img class="col-mid-12 img-responsive" ng-src="{{schedule.getUrl()}}" alt="Schema"
    ng-hide="imageLoadFailed" register-image-load-failed>
  <div class="col-mid-12" ng-hide="!imageLoadFailed">
    <h3>Kunde inte ladda schemat :(</h3>
    <p>Det verkar vara ett problem med Novasoftware.</p>
  </div>
</div>

<datalist id="schedule-id-list" ng-controller="IdSuggestionsCtrl as idSuggestions">
  <!-- Space after id to automatically add in id editor. Empty expression
       prevents trailing space to be omitted. -->
  <option ng-repeat="id in idSuggestions.list" value="{{id.id}} {{}}">
</datalist>
