<div class="row">
  <div class="form-group col-md-6">
    <label>Schemanamn</label>
    <div class="id-editor" ng-controller="IdEditorCtrl as idEditor">
      <span class="schedule-id" ng-repeat="id in currentIds.get()">
        {{id}} <span class="glyphicon glyphicon-remove id-remove" ng-click="currentIds.remove(id)"></span>
      </span>
      <span>
        <input class="id-input" type="text" inputmode="verbatim" list="schedule-id-list" ng-model="idInput" ng-change="idEditor.inputChanged()" ng-trim="false" ng-keydown="idEditor.keyPressed($event)" caret-aware="idInputCaret">
      </span>
    </div>
  </div>

  <div class="form-group col-md-6">
    <label>Vecka</label>
  </div>
</div>

<div class="row schedule-image-row" ng-controller="ScheduleCtrl as schedule">
  <img class="col-mid-12 img-responsive" ng-src="{{schedule.getUrl()}}" alt="Schema">
</div>

<datalist id="schedule-id-list" ng-controller="IdSuggestionsCtrl as idSuggestions">
  <!-- Space after id to automatically add in id editor. Empty expression
       prevents trailing space to be omitted. -->
  <option ng-repeat="id in idSuggestions.list" value="{{id.id}} {{}}">
</datalist>
